<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is subject to the terms and conditions defined in
  ~ file 'LICENSE', which is part of this source code package
  ~
  ~ Author: Felipe González Alarcón
  ~ email: felipe.gonzalezalarcon94@gmail.com
  ~
  ~ Copyright (c) 2022
  ~
  ~ Project: AAID
  ~ Module: AAID.app.main
  ~ Last modified: 15-12-22 22:46
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.ApplicationController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Starting"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_MASTER_KEY}" />

        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" /> <!-- TODO: Habilitar para produccion -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <!-- https://stackoverflow.com/questions/78085458/manifest-merger-failed-with-agp-8-3-0 -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

    </application>

</manifest>